@font-face {
  font-family: 'Palenk Radney'; 
  src: url('/public/fonts/palenk-radney-font/PalenkRadney-ARw1D.otf') format('opentype');
}

:root {
  --basic-color: #E6FE5F; /* lemon green */
  --primary-color: #006A63; /* main green */
  --dark-color: #1A1A1A; 
  --light-bg_color: #FCFFEC;
  --white-color: #fff;

  --font-poppins: 'Poppins';
  --font-palenk: 'Palenk';
}



body {
  font-family: var(--font-poppins);
}
a {
  text-decoration: none;
  color: var(--dark-color);
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px;
}
.inner_wrapper {
  max-width: 1260px;
  margin: 0 auto;
  padding: 10px;
}
ul {
  list-style: none;
}
.padding_y-spacing {
  padding-top: 100px;
  padding-bottom: 100px;
}


.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}
.scrolled.fade-in {
  animation: fade-in 1.9s ease-in-out both;
}


@media (max-width: 768px) {
  .padding_y-spacing {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
}