:root {
  --basic-color: #E6FE5F; /* lemon green */
  --primary-color: #006A63; /* main green */
  --dark-color: #1A1A1A; 
  --light-bg_color: #FCFFEC;

  --font-poppins: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-poppins);
}
a {
  text-decoration: none;
  color: var(--dark-color);
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}