footer {
    color: #000;
    background-color: var(--light-bg_color);
}
footer a {
    color: #000;
}
footer h2 {
    font-weight: 400;
    font-size: 38px;
}

footer form input.form-control {
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    width: 300px;
    padding-left: 1px;
    background-color: var(--light-bg_color);
}
footer form input::placeholder {
    color: #B5B9A0;
    font-weight: 400;
    font-size: 20px;
}

footer form button {
    color: var(--dark-color);
    background-color: var(--light-bg_color);
    border-radius: 50px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 47px;
    width: 110px;
}

footer h3 {
    font-weight: 700;
    font-size: 18px;
}

footer ul {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer ul a {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 400;
    font-size: 16px;
}

.footer-bottom {
    text-transform: uppercase;
}