h3 {
    font-family: var(--font-palenk);
    color: var(--dark-color);
    font-weight: 400;
    font-size: 96px;
    /* line-height: 40px; */
}

.hero-section  {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--light-bg_color);
}
.vision-section h2,
.vr_showcase-section h2,
.hero-section h1 {
    font-size: 105px;
    font-weight: 400;
    line-height: 102px;
    text-align: center;
    text-transform: uppercase;  
    color: #000;
    font-family: var(--font-palenk);
}

.vr_showcase-section h2 {
    color: var(--dark-color);
    position: absolute;
    top: 50%; 
    left: 50%; 
    z-index: 0;
    transition: transform 2s ease-in-out, opacity 2s ease-in-out;
    width: 100%;
}

/* Hide the text when stacked */
.image-display.stacked + h2 {
    transform: translate(-50%, 100%); /* Push the text down */
    opacity: 0; /* Fade out */
    z-index: 0; /* Ensure it goes behind images */
}

/* Show the text when spread */
.image-display.spread + h2 {
    transform: translate(-50%, -250px); /* Restore to center */
    opacity: 1; /* Fade in */
    z-index: 0; 
}




.vr_showcase-section {
    position: relative;
    overflow: hidden;
    background-color: var(--basic-color);

    max-width: 1440px;
    margin: auto;
}
.vr_showcase-section h2 {
    color: var(--dark-color);
}

.image-display {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 30px;
    gap: 0;
    transition: gap 2s ease-in-out;
    height: 550px;
}

.image-display.stacked {
    height: 400px;
    position: relative;
}

.image-display.stacked .showcase-image {
    position: absolute;
    transition: all 2s ease-in-out;
}

/* Apply offsets for overlapping effect in stacked state */
.image-display.stacked .showcase-image:nth-child(1) {
    transform: translate(-50%, 0); /* Move left */
    z-index: 1;
}
.image-display.stacked .showcase-image:nth-child(2) {
    transform: translate(-25%, 0); /* Move left */
    z-index: 2;
}
.image-display.stacked .showcase-image:nth-child(3) {
    transform: translate(25%, 0); /* Move right */
    z-index: 3;
}
.image-display.stacked .showcase-image:nth-child(4) {
    transform: translate(50%, 0); /* Move further right */
    z-index: 4;
}

.image-display.spread {
    gap: 30px; 
    position: relative;
}

.image-display.spread .showcase-image {
    position: absolute; /* Keep absolute positioning for a smoother transition */
    transition: all 2s ease-in-out;
}

/* Reset transforms for spread layout */
.image-display.spread .showcase-image:nth-child(1) {
    transform: translate(-550px, 50px); /* Move to its leftmost position */
    z-index: 2;
}
.image-display.spread .showcase-image:nth-child(2) {
    transform: translate(-200px, 50px); /* Move slightly left */
    z-index: 2;
}
.image-display.spread .showcase-image:nth-child(3) {
    transform: translate(150px, 50px); /* Move slightly right */
    z-index: 2;
}
.image-display.spread .showcase-image:nth-child(4) {
    transform: translate(550px, 50px); /* Move to its rightmost position */
    z-index: 2;
}

.showcase-image {
    border-radius: 12px;
    transition: transform 2s ease-in-out;
}






.about-section {
    background-color: var(--basic-color);
}
.about-section a {
    color: var(--dark-color);
    border-radius: 50px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 62px;
    width: 180px;
    border: 1px solid #000;
}
.about-section a:hover {
    transform: scale(0.98);
    transition: all 0.5s ease;
}
.about-section .stats h5 {
    font-weight: 400;
    font-size: 105px;
    line-height: 126px;
    color: var(--dark-color);
}
.about-section p {
    font-weight: 400;
    font-size: 27px;
    color: #000;
    line-height: 32px;
}



.info-video {
    background-color: var(--basic-color);
    padding: 30px 0;
}
.info-video .img-fluid {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Add any desired styling */
}
  

.empowerment-section {
    max-width: 1254px;
    margin: 0 auto;
    background-color: var(--light-bg_color);
} 
.empowerment-section .inner_wrapper .row {
    margin-left: 0;
    margin-right: 0;
}
.empowerment-section p {
    font-weight: 400;
    font-size: 20px;
    color: #000;
    line-height: 24px;
} 
.empowerment-section h3 {
    font-size: 96px;
} 



.partners_sponsors-section {
    background-color: var(--light-bg_color);
}
.partners_sponsors-section h4 {
    font-size: 27px;
}
.partners_sponsors-section .brand-logo {
    width: 180px;
    height: 94px;
    border-radius: 40px;
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.vision-section {
    color: #fff;
    background-color: var(--primary-color);
}
.vision-section .inner-wrapper {
    max-width: 1246px;
    margin: 0 auto;
}
.vision-section .inner-wrapper h2 {
    color: #fff;
    font-size: 105px;
}
.vision-section .inner-wrapper p {
    font-size: 20px;
    max-width: 857px;
    margin: 0 auto;
}



.vision-cards .vision-card {
    position: relative;
    width: 299px;
    height: 388px;
    border: 1px solid var(--light-bg_color);
    border-radius: 20px;
    padding: 20px 20px;
    overflow: hidden; 
}

.vision-card .ball-pin {
    background-color: var(--basic-color);
    border-radius: 50%; 
    width: 55px;
    height: 55px;
    position: absolute;
    top: 20px;
    left: 20px;
    transition: all 0.8s ease-in-out; 
    z-index: 1; 
}


.vision-cards .vision-card:hover .ball-pin {
    /* position: absolute; */
    width: 300%;
    height: 300%;
    top: -300px; 
    left: -300px; 
    border-radius: 10px 5px 92px 5px;
    -webkit-border-radius: 10px 5px 92px 5px;
    -moz-border-radius: 10px 5px 92px 5px;
}

.vision-cards .vision-card .vision-card-text {
    position: relative;
    z-index: 2; 
    color: var(--text-color, #fff); 
    transition: transform 0.4s ease-in-out, color 0.4s ease-in-out, top 0.4s ease-in-out;
    transform: translateY(70); 
    /* top: 30px; */
}
.vision-cards .vision-card:hover .vision-card-text {
    transform: translateY(30); 
    color: #000;
    /* top: -30px; */
}





.vision-section h2 {
    font-size: 105px;
    line-height: 105px;
    z-index: 2;
    position: relative;
}
.vision-cards .vision-card h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    z-index: 2;
}
.vision-cards .vision-card p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    z-index: 2;
    
}
.vision-hero_img {
    position: relative;
    display: inline-block;
    transition: transform 0.5s ease-in-out;
    border-radius: 21px;
    background-color: var(--basic-color);
    overflow: visible;
    top: -20px;
    z-index: 1;
}

.vision-hero_img img {
    /* transform: translate(-2px, 2px) rotate(-1deg); */
    transition: transform 0.5s ease-in-out;
    border-radius: inherit;
}


.vision-hero_img:hover img,
.vision-hero_img.in-view img {
    transform: translate(-38px, -20px) rotate(-10deg);
}
.vision-hero_img:hover {
    transform: translate(50px, 0) rotate(5deg);
}




@media (max-width: 768px) {
    h3,
    .empowerment-section h3 {
        font-size: 40px;
        line-height: 40px;
    }
    .hero-section h1 {
        font-size: 45px;
        line-height: 45px;
    }

    .vision-section .inner-wrapper h2,
    .vr_showcase-section h2 {
        font-size: 40px;
        line-height: 39px;
    }
    .vision-section h2 {
        font-size: 40px !important;
        line-height: 40px;
    }
    
    .image-display {
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
        height: 300px;
    }
    .image-display.spread + h2 {
        transform: translate(-50%, -170px); 
    }
    .image-display.stacked {
        height: 250px;
    }
    .image-display img {
        width: 128px;
        height: 133px;
        object-fit: cover;
    }
    /* Reset transforms for spread layout */
    .image-display.spread .showcase-image:nth-child(1) {
        transform: translate(-90px, -60px); 
    }
    .image-display.spread .showcase-image:nth-child(2) {
        transform: translate(90px, -60px); 
    }
    .image-display.spread .showcase-image:nth-child(3) {
        transform: translate(-90px, 90px);
    }
    .image-display.spread .showcase-image:nth-child(4) {
        transform: translate(90px, 90px); 
    }
    .about-section p {
        font-size: 16px;
        line-height: 19px;
    }
    .vision-section .inner-wrapper p {
        font-size: 14px;
    }
    
}