h3 {
    font-family: var(--font-palenk);
    color: var(--dark-color);
    font-weight: 400;
    font-size: 96px;
    /* line-height: 40px; */
}

.hero-section  {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--light-bg_color);
}
.vision-section h2,
.vr_showcase-section h2,
.hero-section h1 {
    font-size: 100px;
    font-weight: 400;
    line-height: 102px;
    text-align: center;
    text-transform: uppercase;  
    color: #000;
    font-family: var(--font-palenk);
}


.vr_showcase-section {
    position: relative;
    overflow: hidden;
    background-color: var(--basic-color);

    max-width: 1440px;
    margin: auto;
}
.vr_showcase-section h2 {
    color: var(--dark-color);
}

.image-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
}




.about-section {
    background-color: var(--basic-color);
}
.about-section a {
    color: var(--dark-color);
    border-radius: 50px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 62px;
    width: 180px;
    border: 1px solid #000;
}
.about-section a:hover {
    transform: scale(0.98);
    transition: all 0.5s ease;
}
.about-section .stats h5 {
    font-weight: 400;
    font-size: 105px;
    line-height: 126px;
    color: var(--dark-color);
}
.about-section p {
    font-weight: 400;
    font-size: 27px;
    color: #000;
    line-height: 32px;
}



.info-video {
    background-color: var(--basic-color);
    padding: 70px 0;
}

.empowerment-section {
    max-width: 1254px;
    margin: 0 auto;
    background-color: var(--light-bg_color);
} 
.empowerment-section .inner_wrapper .row {
    margin-left: 0;
    margin-right: 0;
}
.empowerment-section p {
    font-weight: 400;
    font-size: 20px;
    color: #000;
    line-height: 24px;
} 
.empowerment-section h3 {
    font-size: 60px;
} 



.partners_sponsors-section {
    background-color: var(--light-bg_color);
}
.partners_sponsors-section .brand-logo {
    width: 180px;
    height: 94px;
    border-radius: 40px;
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.vision-section {
    color: #fff;
    background-color: var(--primary-color);
}
.vision-section .inner-wrapper {
    max-width: 1116px;
    margin: 0 auto;
}
.vision-section .inner-wrapper h2 {
    color: #fff;
    font-size: 70px;
}
.vision-section .inner-wrapper p {
    font-size: 20px;
    max-width: 857px;
    margin: 0 auto;
}
.vision-cards .vision-card {
    position: relative;
    width: 299px;
    height: 388px;
    border: 1px solid var(--light-bg_color);
    border-radius: 20px;
    padding: 20px 20px;
    /* border-right: none; */

    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* align-items: center; */
}
.vision-card .ball-pin {
    background-color: var(--basic-color);
    border-radius: 50%;
    width: 55px;
    height: 55px; 

}
.vision-card.spread .ball-pin {
    width: 100%;
    height: 100%;  
    position: absolute;
    border-radius: 20px;
    left: 0;
    top: 0;
}
.vision-section h2 {
    font-size: 80px;
}
.vision-cards .vision-card h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    z-index: 2;
}
.vision-cards .vision-card p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    z-index: 2;
    
}



@media (max-width: 768px) {
    h3,
    .empowerment-section h3 {
        font-size: 40px;
        line-height: 39px;
    }
    .hero-section h1 {
        font-size: 36px;
        line-height: 35px;
    }

    .vr_showcase-section h2 {
        font-size: 32px;
        line-height: 31px;
    }
    .vision-section h2 {
        font-size: 40px !important;
        line-height: 40px;
    }
    
    .image-display {
        flex-direction: column;
    }
    .vision-section .inner-wrapper p {
        font-size: 14px;
    }
    
}