.vision_mission-section {
    background-color: var(--light-bg_color);
}
.vision_mission-section .row {
    margin-left: 0;
    margin-right: 0;
    position: relative;
    height: 410px;
    overflow: auto;
}
.vision_mission-section .row::-webkit-scrollbar {
    display: none;
}
.image-container {
    position: relative;
}
.image-container img {
    position: sticky;
    top: 0px;
}
.mission-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
}
.mission-content .content {
    max-width: 614px;
    margin: 0 auto;
}
.mission-content h3 {
    font-family: var(--font-palenk);
    color: #000;
    font-size: 64px;
    font-weight: 400;
}
.mission-content p {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}





.team-section {
    padding: 20px 0;
    background-color: var(--light-bg_color);
}
  
.team-member {
    padding: 20px;
}
.team-members.row {
    margin-left: 0;
    margin-right: 0;
}

  
.team-section h2 {
    font-size: 96px;
    font-weight: 400;
    font-family: var(--font-palenk);
}
.team-member h5 {
    font-size: 27px;
    font-weight: 700;
}
.team-member p {
    font-size: 19px;
    font-weight: 400;
}
  
.social-icons a {
    font-size: 20px;
}
  
.social-icons a:hover {
    opacity: 0.8;
}
  








@media (max-width: 768px) {
    .vision_mission-section .row {
        height: auto;
    }
    .team-section h2,
    .mission-content h3 {
        font-size: 54px;
        line-height: 52px;
    }
    .mission-content p {
        font-size: 16px;
        line-height: 24px;
    }  
    .team-members .team-image {
        width: 138px;
        height: 138px;
    }
    .team-members .team-member {
        width: 168px;
        /* height: 138px; */
    }
    .team-member h5 {
        font-size: 15px;
    }
    .team-member p {
        font-size: 13px;
    }
}